.container {
    display: grid;
    width: 100vw;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 100px 50px 600px 45px;
    grid-gap: 25px;
    grid-template-areas: 
    "top top top"
    "nav nav nav"
    "left center right"
    "ft ft ft";
    justify-content: center;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top;
    font-family: 'Courier New', Courier, monospace;
}
#navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav;
}
#cardLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    grid-area: left;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 10px; 
    height: 70%;
}
#cardCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    grid-area: center;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 10px; 
    height: 70%;
}
#cardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    grid-area: right;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 10px; 
    height: 70%;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: ft;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}
#card1Image{
    background-image: url('../images/1.jpg');
    background-size: 100% 100%;
    width: 80%;
    height: 150px;
}
#card2Image{
    background-image: url('../images/2.jpg');
    background-size: 100% 100%;
    width: 80%;
    height: 150px;
}
#card3Image{
    background-image: url('../images/3.jpg');
    background-size: 100% 100%;
    width: 80%;
    height: 150px;
}